<div class="social d-flex justify-content-center">
    <a class="mx-2" href="https://www.instagram.com/photo_by_jackie/" target="_blank">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a class="mx-2" href="https://www.linkedin.com/in/adéla-adámková-216566255" target="_blank">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a class="mx-2" href="https://github.com/adela-addamsova" target="_blank">
      <i class="fab fa-github"></i>
    </a>
</div>