<!-- Footer-->

<!-- Social media section -->
{if isLinkCurrent('Home:about') || isLinkCurrent('Gallery:default')}
<section class="social-media-section bg-black">
  <div class="container px-4 px-lg-5">
    {include '../SocialMedia/socialMedia.latte'}
  </div>
</section>
{/if}
<!-- /Social media section -->

<footer class="footer bg-black small text-center">
  <div class="container px-4 px-lg-5">Copyright &copy;Photo by Jackie 2025</div>
</footer>

<!-- /Footer -->
