{block title}Admin{/block}

{block content}

<section id="admin" class="admin section bg-light" style="width: 80%; margin: auto; padding: 6rem 0;">
  <div
    class="container-fluid"
    data-aos="fade-up"
    data-aos-delay="100"
    style="width: 95%"
  >
    <div class="row gy-4 justify-content-center mb-5">

  <h1>Categories</h1>
  {control categoriesTable}

</div>
 <div class="row gy-4 justify-content-center">
<h1>Images</h1>
  {control imagesTable}
</div>
</div>
</section>

{/block}