title: "About"
title_page: "About me"
content_title: "Photographer and fullstack developer"
about_me: "My name is Adéla Adámková. This page combines my presentation as a photographer and as a web developer."
about_me_photo_title: "Photography:"
about_me_photo_text: "My love for photography started years ago when I got my first Canon camera. Currently I'm using Canon EOS 5D Mark IV. I often capture landscapes but I'm the most passionate about macro photography."
about_me_developer_title: "Web developement:"
about_me_developer_text: "I'm junior fullstack developer. I use PHP and currently Nette as a framework. Which is also how was this page created."
contact_form_title: "Contact me"
contact_form_text: "Feel free to leave me a message and ask about anything!"
