title: "O mně"
title_page: "O mně"
content_title: "Fotograf a fullstack vývojář"
about_me: "Jmenuji se Adéla Adámková. Tato stránka slouží pro moji prezentaci jako fotografa a zároveň jako webového vývojáře."
about_me_photo_title: "Fotografie:"
about_me_photo_text: "Moje láska k fotografování začala před lety, když jsem si pořídila svůj první fotoaparát Canon. V současné době používám Canon EOS 5D Mark IV. Často fotím krajiny, ale největší vášní je pro mě makrofotografie."
about_me_developer_title: "Webový vývoj:"
about_me_developer_text: "Jsem juniorní fullstack vývojář. Používám PHP, tato stránka vznikla ve frameworku Nette."
contact_form_title: "Kontaktujte mě"
contact_form_text: "Neváhejte mi zanechat zprávu a na cokoli se zeptat!"