name: "Vaše jméno"
subject: "Předmět"
email: "Váš email"
message: "Zpráva"
send: "Odeslat zprávu"
required_name: "Zadejte prosím své jméno."
required_subject: "Zadejte prosím předmět zprávy."
required_email: "Zadejte prosím svůj email."
valid_email: "Zadejte platnou emailovou adresu."
required_message: "Zadejte prosím svou zprávu."
success_message: "Vaše zpráva byla odeslána. Děkuji!"
error_message: "Během odeslání došlo k chybě. Zkuste to prosím znovu."
error_limit_message: "Dosáhli jste maximálního počtu zpráv povolených pro tento týden."