name: "Your Name"
subject: "Subject"
email: "Your Email"
message: "Message"
send: "Send Message"
required_name: "Please enter your name."
required_subject: "Please enter your subject."
required_email: "Please enter your email."
valid_email: "Please enter a valid email address."
required_message: "Please enter your message."
success_message: "Your message has been sent. Thank you!"
error_message: "There was an error sending your message. Please try again later."
error_limit_message: "You have reached the maximum number of messages allowed for this week."