page_text_macro: "Makrofotografie je založená na pořizování detailních snímků malých objektů,<br>odhalující detaily, které jsou často neviditelné pouhým okem."

page_text_landscape: "Fotografie krajiny se zachycuje charakter a atmosféru přírody,<br>včetně hor, lesů, oceánů a dalších přírodních scén."

page_text_animals: "Fotografie zvířat zahrnuje fotografování divokých a domácích zvířat<br>v jejich přirozeném prostředí nebo kontrolovaných podmínkách."

page_text_architecture: "Fotografie architektury zahrnují pořizování snímků budov, mostů<br>a dalších staveb, se zaměřením na jejich design, konstrukci a estetiku."

page_text_technology: "Fotografie technologií zachycují design a funkčnost technologií,<br>zdůrazňující interakci a vztah mezi lidmi a technologickým pokrokem."


page_nav_macro: "Prohlédněte si mou sbírku makrofotografií"
page_nav_landscape: "Prohlédněte si mou sbírku fotografií krajiny"
page_nav_animals: "Prohlédněte si mou sbírku fotografií zvířat"
page_nav_architecture: "Prohlédněte si mou sbírku fotografií architektury"
page_nav_technology: "Prohlédněte si mou sbírku fotografií technologií"