page_text_macro: "Macro photography involves capturing  close-up images of small subjects,<br>revealing intricate details that are often invisible to the naked eye." 
# This type of photography typically requires specialized equipment, such as macro lenses, to magnify the subject."
page_text_landscape: "Landscape photography focuses on capturing the beauty and grandeur of nature,<br>including mountains, forests, oceans, and other natural scenes."

page_text_animals: "Animal photography involves photographing wildlife and domesticated animals<br>in their natural habitats or controlled environments."

page_text_architecture: "Architecture photography involves capturing images of buildings, bridges,<br>and other structures, focusing on their design, construction, and aesthetic appeal."

page_text_technology: "Technology photography centers on capturing the design and functionality of technology,<br> emphasizing the interaction between humans and technology."


page_nav_macro: "Explore my collection of macro photography"
page_nav_landscape: "Explore my collection of landscape photography"
page_nav_animals: "Explore my collection of animals' photography"
page_nav_architecture: "Explore my collection of architecture photography"
page_nav_technology: "Explore my collection of technology photography"