home: "Home"
gallery: "Gallery"
about: "About"

category_macro: "Macro"
category_landscape: "Landscape"
category_animals: "Animals"
category_architecture: "Architecture"
category_technology: "Technology"