home: "Úvod"
gallery: "Galerie"
about: "O mně"

category_macro: "Makro"
category_landscape: "Krajina"
category_animals: "Zvířata"
category_architecture: "Architektura"
category_technology: "Technologie"