services:
	- App\Core\RouterFactory::createRouter
	- App\Components\ImagesTable\ImagesTable
	- App\Components\CategoriesTable\CategoriesTable
	- App\Components\Paginator\MyPaginator
	- App\Components\ContactForm\ContactForm
	- Contributte\Translation\LocalesResolvers\Session
		
search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
