services:
	- App\Core\RouterFactory::createRouter
	- App\Components\ImagesTable\ImagesTable
	- App\Components\CategoriesTable\CategoriesTable

search:
	-	in: %appDir%
		classes:
			- *Facade
			- *Factory
			- *Repository
			- *Service
