<div class="table-responsive">
  <!-- Table -->
  <table class="table table-hover">
    <thead>
      <!-- Header row -->
      <tr>
        <th>Preview</th>
        <th>Icon</th>
        {foreach $columns as $key => $column}
        <th>{$column}</th>
        {/foreach}
        <th>Update</th>
        <th>Delete</th>
      </tr>
      <!-- End header row -->
    </thead>
    <tbody>
      <!-- Table rows -->
      {foreach $categories as $category}
      <tr>
        <td>
          <img
            src="{$basePath}/{$category->background_path}"
            style="width: 5rem"
          />
        </td>
        <td>
          <img
            src="{$basePath}/{$category->icon_path}"
            style="width: 3rem"
          />
        </td>
        {foreach $columns as $key => $header}
        <td>{$category->$key}</td>
        {/foreach}
        <td>
          <a href="{plink EditCategory:, id=>$category->id}">
             <i class="fa-regular fa-pen-to-square"
                style="width: 3rem; color: var(--site-color-01)">
             </i>
          </a>
        </td>
        <td>
          <a
            href="{plink Admin:deleteCategory, $category->id}"
            class="delete"
            data-message="Are you sure you want to delete category {$category->name}?"
            >
              <i
                class="fa-solid fa-trash-can"
                style="width: 3rem; color: var(--site-color-02)"
              ></i>
          </a>
        </td>
      </tr>
      <!-- End table rows -->
      {/foreach}
    </tbody>
  </table>
  <!-- End table -->
</div>
