{block title}404{/block}
{block body}
    <div class="error text-white text-center" style="background: url('{$basePath}/img/error/404.JPG') no-repeat center center fixed; background-size: cover;">
        <div class="error-text">
            <h1>404</h1>
            <h1>Page not found</h1>
            <p >There's nothing to see here.</p>
            <p>Get out.</p>
        </div>
    </div>
{/block}
