/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-page-head {
  background-color: black;
  height: 50vh;
  display: flex;
  align-items: center;
  position: relative;
}

.about .content {
  padding: 3rem 0;
}

.about .about-title {
  font-size: 1.7rem;
  margin-bottom: 30px;
}

.about .about-text {
  margin: 0 1rem
}

.about .about-text .text-head {
  line-height: 1.6;
  font-size: 18px;
  font-weight: normal;
  color: var(--default-color);
}

.about .about-text h2 {
  line-height: 2.2rem
}

.about .about-text p {
  line-height: 1.7;
  color: var(--default-color);
}

.about .about-img {
  display: flex;
  align-items: center
}

.contact {
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 500px;
  z-index: 1;
  color: var(--default-color-w);
  padding: 3rem 0;
  margin-bottom: 10rem;
}

.contact .contact-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.contact .contact-text h2 {
  font-size: 3rem;
  padding-top: 7rem;
  text-align: center;
}

.contact .contact-text span {
  width: 80%;
  margin: 2rem auto;
}

@media (max-width: 768px) {
  .about-img img {
    margin-bottom: 5rem;
  }

  .contact-text h2 {
    padding: 1rem 0;
  }
}