/*-----------------------------------------------------
# Contact Form
-----------------------------------------------------*/
.contact-form {
    height: 100%;
    padding: 3rem;
}

.contact-form input,
.contact-form textarea,
.contact-form input:focus,
.contact-form textarea:focus {
    font-size: 0.8rem;
    padding: 0.7rem;
    box-shadow: none;
    border-radius: 10px;
    color: var(--default-color);
    background-color: rgba(0, 0, 0, 0.5);
}

.contact-form input:focus,
.contact-form textarea:focus {
    border-color: var(--site-color-01);
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: var(--default-color-w);
}

.contact-form input.form-btn {
    background-color: var(--site-color-02);
    border: var(--site-color-02);
    border-radius: 10px;
}

.contact-form input.form-btn:hover {
    opacity: 0.9;
}

.contact-form .sent-message {
    display: none;
    color: var(--default-color-w);
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

@media (max-width: 575px) {
    .contact-form {
        padding: 20px;
    }
}
