/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.social-media-section {
  padding-top: 4rem;
}

.social-media-section a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: var(--default-color-lg);
}

.social-media-section a:hover {
  color: var(--default-color-g);
}

.footer {
  padding: 3rem 0;
  color: var(--default-color-lg);
}
