/*-----------------------------------------------------
# Header
-----------------------------------------------------*/
.gallery-page {
  padding: 3rem 0 8rem 0;
  width: 100%;
}

.gallery-container {
  margin: 5rem 0;
}

.gallery-container .head-text {
  line-height: 2rem;
  font-size: 1.3rem;
}

.gallery-container a {
  margin-left: 1rem;
}

.gallery-container a i {
  color: var(--site-color-02)
}

.gallery-page-head {
  background-color: var(--default-color-b);
  height: 85vh;
  display: flex;
  align-items: center;
  position: relative;
}

.gallery-page-head .head-image {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 15rem;
  height: auto;
  margin-bottom: 50px;
  margin-right: 50px;
}

@media (max-width: 1024px) {
  .gallery-container {
    margin-top: 2.5rem;
  }

  .gallery-page-head .head-image {
    width: 11rem;
    margin-bottom: 2rem;
    margin-right: 3rem;
  }
}

@media (max-width: 768px) {
  .gallery-container {
    padding-top: 1rem;
  }

  .gallery-container .head-text {
    font-size: 1.1rem;
  }

  .gallery-container a {
    margin-left: 0;
  }

  .gallery-page-head .head-image {
    width: 7rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
  }
}

/*-----------------------------------------------------
# Gallery Nav
-----------------------------------------------------*/
.category {
  padding: 0;
  list-style: none;
  text-align: center;
}

.category li {
  cursor: pointer;
  display: inline-block;
  padding: 0.5rem 1.1rem;
  margin: 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.category li:hover,
.category .active {
  background-color: var(--site-color-02);
}

.category .active a {
  color: var(--default-color-w);
}

.category a:hover {
  color: var(--default-color-b);
}

@media (max-width: 768px) {
  .category li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}

/*-----------------------------------------------------
# Gallery Images
-----------------------------------------------------*/
.gallery-page .gallery-item {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.gallery-page .gallery-item img {
  transition: 0.3s;
}

.gallery-page .gallery-item:hover img {
  transform: scale(1.1);
}

@media (max-width: 1024px) {
  .gallery-page {
    padding: 3rem 0;
  }

}
