/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.paginator {
  align-items: center;
  justify-content: center;
  display: flex
}

.pagination .page-item .circle-link {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  padding: 0;
  text-align: center;
}

.pagination .page-item .page-link {
  background-color: inherit;
  border: none;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  padding: 0;
}

.pagination .page-item.active .circle-link {
  background-color: var(--site-color-02);
  color: var(--default-color-w);
}

.pagination .page-item.disabled .page-link {
  color: var(--default-color-lg);
  pointer-events: none;
  background-color: transparent;
  border-color: transparent;
}

.pagination .page-item.disabled .page-link span {
  background-color: transparent;
  color: var(--default-color-lg);
  border: none;
}

.pagination .page-item .page-link:hover {
  background-color: inherit;
  color: var(--default-color-g);
}

.pagination .page-item .page-link span {
  display: inline-block;
  font-size: 18px;
  background-color: inherit;
  color: inherit;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .page-item {
  margin-right: 5px;
}
