/*--------------------------------------------------------------
# Basic styles
--------------------------------------------------------------*/
:root {
  --default-font: "Roboto";
  --heading-font: "Montserrat";

  --default-color-w: #ffffff;
  --default-color-lg: grey;
  --default-color-g: #555555;
  --default-color-b: #000000;
  --site-color-01: #64a19d;
  --site-color-02: #de8748;

  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
li a {
  font-family: var(--heading-font);
}

body a {
  text-decoration: none;
  color: black;
}

body p,
a {
  font-family: var(--default-font);
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease-out, visibility 0s 0.5s;
}

.preloader-inner {
  position: relative;
  width: 100px;
  height: 100px;
}

.circle-outer,
.circle-inner {
  position: absolute;
  border-radius: 50%;
  border: 6px solid #fff;
  animation: rotate 1.5s infinite ease-in-out;
}

.circle-outer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-duration: 1.5s;
}

.circle-inner {
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  animation-duration: 2.5s;
}

@keyframes rotate {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

#preloader.loaded {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-out, visibility 0s 0.5s;
}

.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.bar {
  width: 10px;
  height: 70px;
  background: #fff;
  display: inline-block;
  transform-origin: bottom center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  animation: loader 1.2s linear infinite;
}

.bar1 {
  animation-delay: 0.1s;
}

.bar2 {
  animation-delay: 0.2s;
}

.bar3 {
  animation-delay: 0.3s;
}

.bar4 {
  animation-delay: 0.4s;
}

.bar5 {
  animation-delay: 0.5s;
}

.bar6 {
  animation-delay: 0.6s;
}

.bar7 {
  animation-delay: 0.7s;
}

.bar8 {
  animation-delay: 0.8s;
}

@keyframes loader {
  0% {
      transform: scaleY(0.1);
      background: var(--default-color-w);
  }

  50% {
      transform: scaleY(1);
      background: var(--site-color-02);
  }

  100% {
      transform: scaleY(0.1);
      background: transparent;
  }
}
